{% extends 'base.html' %} {% block content %}
<h1>Graphs</h1>
<!--Any other HTML goes here inbetween block and endblock-->
<head>
<title>Bellybutton Biodiversity</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row mb-5">
        <div class="col-md-12 p-5 text-center bg-light">
        <h1>Meteorite Landings Over Time</h1>
        <p>Use the charts below to explore the dataset</p>
        </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-2 p-3 bg-light">
      <h2 class="fs-4 text-center">Controls</h2>
      <label id="starting-label" for="year-select" class="form-label">Fetching data...</label>
      <input type="range" disabled onchange="handleSliderChange(event);" class="form-range" id="year-select">
    </div>
    <div class="col-md-10">
      <div id="line-graph"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 p-3 bg-light">
      <h2 class="fs-4 text-center">Controls</h2>
      <!-- <label id="choose-label" for="choose-year" class="form-label">Fetching data...</label>
      <input type="number" disabled step="1" class="form-control" id="choose-year"> 
      <input type="submit"> -->
    </div>
    <div class="col-md-10">
      <div id="bar-graph"></div>
    </div>
  </div>
</div>
</body>
{% endblock %} {% block script %}
<script type="text/javascript" src="static/js/graph.js"></script>
{% endblock %}
