{% extends 'base.html' %} {% block content %}
<h1>Works Cited</h1>
<!--Any other HTML goes here inbetween block and endblock-->
<h3>Data Set:</h3>
<p>
  Kaggle.com
  <a
    target="_blank"
    href="https://www.kaggle.com/datasets/nasa/meteorite-landings?resource=download"
    >https://www.kaggle.com/datasets/nasa/meteorite-landings?resource=download</a
  >
</p>
<h3>Slides Color Pallette:</h3>
<p>
  slidesGo
  <a target="_blank" href="https://slidesgo.com/"
    >https://slidesgo.com/</a
  >
</p>
<h3>Site Color Theme:</h3>
<p>
  bootswatch.com
  <a target="_blank" href="https://bootswatch.com/vapor/"
    >https://bootswatch.com/vapor/</a
  >
</p>
<h3>Title Image:</h3>
<p>
  scientificamerican.com
  <a target="_blank" href="https://static.scientificamerican.com/sciam/cache/file/2ECDAE9E-36E8-49A1-96AEA9BD5CFF4908_source.jpg?w=1200"
    >https://static.scientificamerican.com/sciam/cache/file/2ECDAE9E-36E8-49A1-96AEA9BD5CFF4908_source.jpg?w=1200</a
  >
</p>
{% endblock %}
