{% extends 'base.html' %}

{% block content %}
    <h1>Works Cited</h1>
     <!--Any other HTML goes here inbetween block and endblock-->
     <h2>Data Set:</h2>
     <p>Kaggle.com <a href="https://www.kaggle.com/datasets/nasa/meteorite-landings?resource=download">https://www.kaggle.com/datasets/nasa/meteorite-landings?resource=download</a></p>
     <h2>Slides Color Pallette</h2>
     <p>color-hex.com <a href="https://www.color-hex.com/color-palette/70661">https://www.color-hex.com/color-palette/70661</a></p>
{% endblock %}